.bg-Register{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../src/utils/images/register.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}

.bg-Login{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../src/utils/images/Login.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: -1;
    
}
.bg-forget{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../src/utils/images/register.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}
.bg-home{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../src/utils/images/dontFlix-background.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}